.container {
  justify-content: center;
  text-align: center;
  width: 90%;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}

.imagem {
  border: 2px dashed black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 30px;
}

.button {
  width: 300px;
  height: 50px;
  border: 1px solid gray;
  background-color: rgb(157, 157, 201);
  color: white;
}
